<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title> Testing Django</title>
  </head>

  <body>
      {{ key }}
  <h1>
    Welcome to the Make a meal Homepage!
  </h1>
  <form action="/home/" method="post">
    {% csrf_token %}
    <input type="text" id="text_val" name="text_val">test</input>
    <button type="submit">post</button>
  </form>
  </body>
</html>
